name: autopydoc

on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install python
      run: sudo apt install -y python3

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        # fetch all commits/branches/tags to be able to compare the current commit with the previous one
        fetch-depth: 0

    - name: Run AutoPyDoc using Action
      uses: fbehrendt/AutoPyDoc@<action version>
      with:
        repo_path: "${{ github.workspace }}"
        username: "AutoPyDoc"
        repo_owner: ${{ github.repository_owner }}
        pull_request_token: ${{ secrets.PULL_REQUEST_TOKEN }} # Manually created PAT with PR creation rights added as a repository secret
        branch: ${{ github.ref_name }}
        debug: 'true'
        context_size: '8192'

        # Strategy selection and its specific options
        strategy: "ollama"
        ollama_host: ${{ var.OLLAMA_HOSTNAME }} # Host path for ollama server added as a repository variable
