name: autopydoc

on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install python
      run: sudo apt install -y python3
    - name: login to github
      run: |
        echo "${{ secrets.FULL_ACCESS_TOKEN }}" | gh auth login --with-token
        gh auth setup-git
        git config --global user.name "<your username>"
    - name: clone AutoPyDoc
      run: |
        cd /home/runner/work
        git clone https://github.com/fbehrendt/AutoPyDoc.git
        # you can use a different branch of AutoPyDoc by uncommenting and adjusting the line below
        # cd AutoPyDoc
        # git switch <branch of AutoPyDoc>
        # git branch --show-current
    - name: clone this repo
      run: |
        cd /home/runner/work/<target repo name>
        git clone https://github.com/<username>/<target repo name>.git
    - name: config git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: install dependencies
      run: uv sync
    - name: run AutoPyDoc
      run: |
        cd /home/runner/work/AutoPyDoc
        # the ollama_host can be omitted, in which case the fallback strategy (currently mock) is used for generation
        uv run /home/runner/work/AutoPyDoc/src/main_cli.py \
          --repo-path "/home/runner/work/<target repo name>/<target repo name>" \
          --branch "${GITHUB_REF##*/}" \
          --username "<username>" \
           --repo-owner "<repo_owner>" \
          --pull-request-token "${{ secrets.PULL_REQUEST_TOKEN }}" \
          ollama --ollama-host "${{ secrets.OLLAMA_HOSTNAME }}"
